::selection {
  background: rgba(0, 50, 150, 0.2);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(57, 62, 70, 0.5);
  border-radius: 50px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Hauora Sans", sans-serif;
}

a,
button {
  user-select: none;
  cursor: pointer;
  text-transform: uppercase;
}

body {
  width: 100vw;
  height: 100vh;
  color: #393e46;
  overflow-x: hidden;
}

br {
  user-select: none;
}

button {
  border-bottom: 1px dashed;
  padding: 0px 4px !important;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #393e46;
  color: #f7f7f7;
  border: none;
}

input,
label {
  cursor: pointer;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li {
  display: inline-block;
}
