::selection {
  background: rgba(0, 50, 150, 0.2);
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Hauora Sans", sans-serif;
}

a,
button {
  cursor: pointer;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #f7f7f7;
  color: #393e46;
}

br {
  user-select: none;
}

button {
  border-bottom: 1px dashed;
  padding: 0px 4px !important;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #393e46;
  color: #f7f7f7;
  border: none;
}

input,
label {
  cursor: pointer;
}

ul li {
  display: inline-block;
}
