---
import BaseHead from "@components/BaseHead";
import Navbar from "@components/Navbar";
---

<html>
  <BaseHead pageName="Landing" />
  <body class="bg-primary">
    <Navbar />
    <slot />
  </body>
</html>
