---
import BaseHead from "@components/BaseHead";
import Navbar from "@components/Navbar";

import "@fontsource/hauora-sans";
import "@fontsource/hauora-sans/800.css";
---

<html>
  <BaseHead pageName="Landing" />
  <body>
    <Navbar />
    <slot />
  </body>
</html>
