---
import BaseHead from "@components/BaseHead";
import Footer from "@components/Footer";
import Navbar from "@components/Navbar";

import "@fontsource/hauora-sans";
import "@fontsource/hauora-sans/800.css";
---

<html>
  <BaseHead pageName="Landing" />
  <body>
    <Navbar client:only="react" />
    <slot />
    <Footer />
  </body>
</html>
